body {
  font-family: "Trip Sans Medium";
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  background: white;
}

.header .hidden {
  display: none;
}

header img {
  width: 200px;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Trip Sans ";
  cursor: pointer;
}

.primary-nav .menu-item {
  display: flex;
  padding: 15px;
}

.primary-nav button {
  font-size: 14px;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

h1 {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 54px;
  font-family: "Trip Sans Medium";
  font-weight: bolder;
}

h1 span {
  color: #ff5d5d;
}

p {
  display: flex;
  align-items: center;
  margin: 5px;
}

.secondary-nav {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.secondary-nav p {
  flex: 1;
  height: 40px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.secondary-nav .hidden {
  display: none;
}

.secondary-nav p:hover {
  background: black;
  color: white;
}

.images {
  margin-top: 50px;
  height: 400px;
  display: flex;
  gap: 2px;
}

.images .left {
  flex: 4;

  background-image: url("../img/caption1.jpg");
}

.images .right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.images .right-top {
  background-image: url("../img/caption2.jpg");
  flex: 1;
}

.images .right-bottom {
  /* background: yellow; */
  background-image: url("../img/caption3.jpg");
  flex: 1;
}

.images .center-background {
  background-size: cover;
  background-position: center;
}

.petit-texte {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 10px;
  font-family: "Trip Sans Medium";
}

h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: "Trip Sans Medium";
}

.description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 22px;
  color: #333333;
  /* border: solid black 2px; */
  width: 50%;
}

.carousel {
  /* height: 300px; */
  display: flex;
}

.carousel-title {
  flex: 1;
}

.main-title {
  font-size: larger;
  margin-top: 50px;
}
.main-title2 {
  font-size: larger;
  font-style: oblique;
  margin-top: 50px;
}
.note {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  justify-content: flex-start;
}

.reduc {
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.second-title {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.carousel-scroll {
  flex: 3;

  display: flex;
  overflow-x: scroll;
  gap: 15px;
}
.carousel-scroll-item {
  flex: calc((100% / 3) - 10px);
  flex-shrink: 0;
}

.carousel-scroll-item:nth-child(even) {
}

.carousel-scroll-item:nth-child(odd) {
}

.img-container {
  height: 60%;
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container .absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 30px;
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

footer {
  padding-left: 180px;
  height: 80px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  justify-content: space space-around;
  align-items: center;
}

footer img {
  width: auto;
  padding-right: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

footer h3 {
  align-self: center;
  padding-right: 280px;
  font-size: smaller;
}

.footercolor {
  background: #faf1ed;
}

@media (max-width: 1140px) {
  body {
    /* background-color: orange; */
  }

  .container {
    margin: 0 20px;
  }

  .menu-item span {
    display: none;
    padding: 10px;
  }

  .secondary-nav {
    flex-wrap: wrap;
    /* gap: 0; */
  }

  .secondary-nav .hidden {
    display: flex;
  }

  .secondary-nav p {
    box-sizing: border-box;
    flex: calc(25% - 15px);
    height: auto;
  }
}

@media (max-width: 1024px) {
  body {
    /* background-color: lightgreen; */
  }

  .menu-item {
    display: none;
  }
  .images {
    height: 300px;
  }

  .carousel-scroll-item {
    flex: calc((100% / 2) - 10px);
    flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  body {
    /* background-color: lightskyblue; */
  }

  .header {
    align-items: center;
  }

  .header .hidden {
    display: block;
  }

  .primary-nav {
    display: none;
  }

  .secondary-nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .secondary-nav p {
    flex-shrink: 0;
  }

  .images {
    margin-top: 20px;
  }

  .images .right {
    display: none;
  }

  .images .left {
    margin: 1px;
  }
  .description {
    width: 100%;
  }

  .carousel {
    display: block;
  }
}
