body {
  font-family: "Trip Sans Medium";
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background: red;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

header img {
  width: 200px;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Trip Sans ";
  cursor: pointer;
}

.primary-nav .menu-item {
  display: flex;
  padding: 15px;
}

.primary-nav button {
  font-size: 14px;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

h1 {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 54px;
  font-family: "Trip Sans Medium";
  font-weight: bolder;
}

h1 span {
  color: #ff5d5d;
}

p {
  display: flex;
  align-items: center;
  margin: 5px;
}

.secondary-nav {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.secondary-nav p {
  flex: 1;
  height: 40px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.images {
  margin-top: 50px;
  height: 400px;
  display: flex;
  gap: 2px;
}

.images .left {
  flex: 4;

  background-image: url("../img/caption1.jpg");
}

.images .right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.images .right-top {
  background-image: url("../img/caption2.jpg");
  flex: 1;
}

.images .right-bottom {
  /* background: yellow; */
  background-image: url("../img/caption3.jpg");
  flex: 1;
}

.images .center-background {
  background-size: cover;
  background-position: center;
}

.petit-texte {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 10px;
  font-family: "Trip Sans Medium";
}

h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: "Trip Sans Medium";
}

.grand-texte {
  margin-top: 50px;
  margin-bottom: 70px;
  height: 100px;
  display: flex;
  gap: 2px;
}
.textcorpus {
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "comics";
  font-weight: 100;
}

.grand-texte .gdleft {
  flex: 1;
}

.grand-texte .gdright {
  flex: 1;
}

.carousel {
  /* height: 300px; */
  display: flex;
}

.carousel-title {
  flex: 1;
}

.main-title {
  font-size: larger;
}
.main-title2 {
  font-size: larger;
  font-style: oblique;
}
.note {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.second-title {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.carousel-scroll {
  flex: 3;

  display: flex;
  overflow-x: scroll;
  gap: 15px;
}
.carousel-scroll-item {
  flex: calc((100% / 3) - 10px);
  flex-shrink: 0;
}

.carousel-scroll-item:nth-child(even) {
}

.carousel-scroll-item:nth-child(odd) {
}

.img-container {
  height: 60%;
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container .absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 30px;
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

footer {
  padding-left: 180px;
  height: 80px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  justify-content: space space-around;
  align-items: center;
}

footer img {
  width: auto;
  padding-right: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

footer h3 {
  align-self: center;
  padding-right: 280px;
  font-size: smaller;
}

.footercolor {
  background: #faf1ed;
}

@media (max-width: 1024px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
    background: yellow;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    background-color: purple;
  }
}
